#mainpage {
	background-image: url("./img/weight.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	image-rendering: pixelated;
	position: fixed;
	width: 100%;
}
#navbar {
	background-color: #5CCCCC;
	font: #808080;
	padding: 20px;
	position: center;
	max-width: auto;
	border-radius: 20px;
	font-size: 12px;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}
#navlink {
	margin-left: 30px;
	font-family: 'Pridi', sans-serif;
	font-size: 30px;
}
#maintitle {
	font-size: 60px;
	text-align: center;
	color: #A0E2E2;
	font-family: 'Lobster', cursive;
	margin-top: 100px;
	text-shadow: 5px 5px #000000;
}
#forLogin {
	width: 300px;
	height: 150px;
	margin-left: 800px;
	margin-top: 100px;
	background-color: #63E2E2;
	border-radius: 10px;
	border-style: inset;
	opacity: 0.9;
	align-self: stretch;
}
#lforLogin h4 {
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 15px;
	display: flex;
}
#forLogin {
	margin-left: 80px;
	/*padding: 5px;*/
	align-self: stretch;
}
#define h2 {
	font-size: 48px;
	color: #55d7d7;
	font-family: 'Lobster', serif;
	font-weight: bold;
	text-align: center;
}
#define h4 {
	font-size: 36px;
	color: #55d7d7;
	font-family: 'Lobster', serif;
	text-align: center;
}
#defineworkout{
	margin-top: 30px;
	margin-left: 350px;
	width: 800px;
	height: 300px;
	border-style: bold;
	border-radius: 30px;
	background-color: #A0E2E2;
	opacity: 0.9;
	text-align: center;
	padding-top: 5px;
}
#def-description {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
}
#def-logtype {
	margin-top: 10px;
	border-radius: 10px;
	padding: 5px;
}
#def-save {
	margin-top: 20px;
	background-color: #0e8a8a;
	color: black;
}
#logform {
	margin-top: 30px;
	margin-left: 350px;
	width: 800px;
	height: 300px;
	border-style: bold;
	border-radius: 30px;
	background-color: #A0E2E2;
	opacity: 0.9;
	text-align: center;
	padding-top: 5px;
}
#log-result {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
}
#log-definition {
	margin-top: 10px;
	border-radius: 10px;
	padding: 5px;
}
#log-save {
	margin-top: 20px;
	background-color: #0e8a8a;
	color: black;
}